<h1>Edit Story</h1>

<%= form_for [@project, @story], :validate => true do |builder| %>
<%= render "shared/error", :object=> @story %>
<%= render "form_fields", :builder => builder, :story => @story %>

<%= builder.submit 'Save Story' %>
<%= button_to "Delete Story", project_stories_path(@project, @story.id), :method => :delete, :data => {:confirm => 'Are you sure?'} %>

<%= link_to 'Cancel', project_stories_path(@project) %>

<% end %>
