<h1>Edit Story</h1>

<%= form_for [@project, @story], :validate => true do |builder| %>
<%= render "shared/error", :object=> @story %>
<%= render "form_fields", :builder => builder, :story => @story %>

<%= builder.submit 'Save Story', :class => 'btn-tiny submit' %>
<%= link_to "Delete Story", project_story_path(@project, @story),
  :class => 'btn-tiny delete', :method => :delete, :data => {:confirm => 'Are you sure?'} %>

<%= link_to 'Cancel', project_stories_path(@project) %>

<% end %>
