<h1>Stories</h1>

<%= link_to "New Story", new_project_story_path %>
<br /><br />

<table>
  <thead>
    <th>Name</th>
    <th>Business Value</th>
    <th>Complexity</th>
    <th>Cost/Benefit Score</th>
  </thead>

  <tbody class='sortable' data-update-path="<%= sort_project_stories_path(@project) %>">
    <% @stories.each do |story| %>
      <%= content_tag_for :tr, story do %>
        <td><%= link_to story.i_want_to, edit_project_story_path(@project, story) %></td>
        <td><%= story.value %></td>
        <td><%= story.complexity %></td>
        <td class="score"><%= story.score %></td>
        <td></td>
      <% end %>
    <% end %>
  </tbody>
</table>
