<h1>Stories</h1>

<%= link_to "New Story", new_story_path %>
<br /><br />

<table>
  <thead>
    <th>Name</th>
    <th>Business Value</th>
    <th>Complexity</th>
  </thead>

  <tbody class='sortable' data-update-path="<%= sort_stories_path %>">
    <% @stories.each do |story| %>
      <%= content_tag_for :tr, story do %>
        <td><%= link_to story.i_want_to, edit_story_path(story) %></td>
        <td><%= story.value %></td>
        <td><%= story.complexity %></td>
        <td></td>
      <% end %>
    <% end %>
  </tbody>
