<h1>New Story</h1>

<%= form_for [@project, @story], :validate => true do |builder| %>
<%= render "error", :story=> @story %>
<%= render "form_fields", :builder => builder %>

<%= builder.submit 'Save Story' %>
<%= link_to 'Cancel', project_stories_path(@project) %>

<% end %>
